<ul>
<% @artists.each do |artist| %>
<li>
  <%= link_to artist.name , artist_path(artist) %> ( <%= artist.created_at %> )
</li>
<% end %>

</ul>
<p>
<%= link_to 'new artist' , new_artist_path %>
</p>
