<nav class="navbar">
  <div class="container">
    <ul class="navbar-block">
    <li><%= link_to 'HOME' , artists_path%></li>

    <li><%= link_to 'new artist' , new_artist_path %></li>
  </ul>
  </div>
</nav>
